<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HBNB</title>
    </head>
    <body>
        {% if not_found %}
            <h1>Not found!</h1>
        {% else %}
            <h1>States</h1>
            <ul>
                {% for state in states %}
                    <li>{{ state.id }}: <b>{{ state.name }}</b></li>
                    {% if cities %}
                        <h3>Cities:</h3>
                        <ul>
                            {% for city in cities %}
                                <li>{{ city.id }}: <b>{{ city.name }}</b></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
